
<div class="container">
    <h1 class="text-center">Food Bank</h1>
    <table class="table table-hover">
        <thead class="bg-info">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Food Item</th>
            <th scope="col">Availability</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cereals</td>
            <td>30 bags</td>
            <td>Kinoo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Milk</td>
            <td>1000 Litres</td>
            <td>Kibera</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Maiza Flour</td>
            <td>40 bags</td>
            <td>Thika</td>
          </tr>
    
        </tbody>
    </table>
<h1 class="p-3 text-center">Distribution TimeTable</h1>
       <table class="table table-hover">
      <thead class="bg-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kinoo</td>
          <td>04.00pm</td>
          <td>07/11/2020</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Kibera</td>
          <td>1000 Litres</td>
          <td>13/11/2020</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Thika</td>
            <td>10.00am</td>
            <td>25/12/2020</td>
          </tr>
  
      </tbody>
    </table>
</div>
