<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-center">Food Bank</h1>
    <table class="table table-hover">
        <thead class="bg-info">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Food Item</th>
            <th scope="col">Availability</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cereals</td>
            <td>30 bags</td>
            <td>Kinoo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Milk</td>
            <td>1000 Litres</td>
            <td>Kibera</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Maiza Flour</td>
            <td>40 bags</td>
            <td>Thika</td>
          </tr>
    
        </tbody>
    </table>
<h1 class="p-3 text-center">Distribution TimeTable</h1>
       <table class="table table-hover">
      <thead class="bg-secondary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kinoo</td>
          <td>04.00pm</td>
          <td>07/11/2020</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Kibera</td>
          <td>1000 Litres</td>
          <td>13/11/2020</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Thika</td>
            <td>10.00am</td>
            <td>25/12/2020</td>
          </tr>
  
      </tbody>
    </table>
</div>
