
<div class="container" id="tablefont">
    <h1 class="text-center" id="tablefont">Food Bank</h1>
    <table class="table table-hover tablecolor table-sm">
        <thead class="tableheading">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="headingsize">Food Item</th>
            <th scope="col" class="headingsize">Availability</th>
            <th scope="col" class="headingsize">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="contentsize">Cereals</td>
            <td class="contentsize">30 bags</td>
            <td class="contentsize">Kinoo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="contentsize">Milk</td>
            <td class="contentsize">1000 Litres</td>
            <td class="contentsize">Kibera</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="contentsize">Maiza Flour</td>
            <td class="contentsize">40 bags</td>
            <td class="contentsize">Thika</td>
          </tr>
    
        </tbody>
    </table>
<h1 class="p-3 text-center" id="tablefont">Distribution TimeTable</h1>
       <table class="table table-hover tablecolor  table-sm">
      <thead class="tableheading">

        <tr>
          <th scope="col">#</th>
          <th scope="col" class="headingsize">Location</th>
          <th scope="col" class="headingsize">Time</th>
          <th scope="col" class="headingsize">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="contentsize">Kinoo</td>
          <td class="contentsize">04.00pm</td>
          <td class="contentsize">07/11/2020</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td class="contentsize">Kibera</td>
          <td class="contentsize">10:00pm</td>
          <td class="contentsize">13/11/2020</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td class="contentsize">Thika</td>
            <td class="contentsize">10.00am</td>
            <td class="contentsize">25/12/2020</td>
          </tr>
      </tbody>
    </table>
</div>
<div class="powr-donation-button" id="26a9f178_1604590248"></div>
