{{#partial "content"}}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">LOCATION</th>
            <th scope="col">DONATION TYPE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{location}}</td>
            <td>{{donationType}}</td>
        </tr>
        </tbody>
    </table>

{{/partial}}

{{> layout.hbs}}